# AWS
AWS_BUCKET_NAME=tu-bucket-name
AWS_REGION=us-east-1

# Snowflake
SF_ACCOUNT=tu-account-identifier
SF_USER=tu-usuario
SF_PASSWORD=tu-password
SF_DATABASE=PORTFOLIO_DB
SF_SCHEMA=AURUM
SF_WAREHOUSE=COMPUTE_WH

# APIs
EXCHANGERATE_API_KEY=tu-api-key